<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        
  </div>
<div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">

</div>
<div class="col-12 col-sm-4 text-center py-2 order-sm-2">
  <small class="text-white">© 2020 paySmart All Rights Reserved</small>
  
  <p class="mt-2"><a href="https://paysmart.com.br/">About paySmart</a></p>	
      </div>
    </div>
  </div>
</footer>
